<h1>Career Dashboard</h1>
<div style="float:left;">
<table>
	
	<tr>
		<th>Job Title</th>
		<th></th>
		<th>Company</th>
		<th>Application Date</th>		
	</tr>
	
	<% @jobs.each do |job| %>
	
	<tr>		
		<td><a href = "http://localhost:3000/jobs/<%=job.id%>"><%= job.job_title %></a></td>
		<td></td>
		<td><a href ="http://localhost:3000/companies/<%=job.company_id%>"><%=job.company.name%></a></td>
		<td><%= job.application_date %></td>		
	</tr>
	<% end %>
</table>	

<a href="/jobs/new">Add a Job</a>	

<a href="/jobs">See All Jobs</a>
</div>
<div style="float: right;">
<table>
	
	<tr>
		<th>Company</th>
		
	</tr>
	<% @companies.each do |company| %>
	<tr>		
		<td><a href = "http://localhost:3000/companies/<%=company.id%>"><%= company.name %></a></td>		
	</tr>
	<% end %>
</table>	

<a href="/companies/new">Add a Company</a>	

<a href="/companies">See All Companies</a>
</div>

<div class="to_do">
	<%@tasks.each do |task|%>
		<ol>
			<li><%=task%></li>

		</ol>

	<%end%>
</div>