
<%= nested_form_for @job, :html=> {:multipart => true} do |f| %>
<table>
	 
	<tr>
		<th><%= f.label :job_title %></th>
		<td><%= f.text_field(:job_title) %></td>
	</tr>
	
    	<%= fields_for @company do |company| %>
      	<tr>
      		<th>Company Name</th>
        	<td><%= company.text_field(:name) %></td>
      	</tr>
    	<% end %>
  	
	<tr>
		<th><%= f.label :application_date %></th>
		<td><%= f.text_field :application_date, placeholder: 'year/mm/dd' %></td>
	</tr>
	<tr>
		<th><%= f.label :job_summary %></th>
		<td><%= f.text_area(:job_summary, :size => "40x10") %></td>
	</tr>
	<tr>
		<th><%= f.label :response %></th>
		<td><%= f.text_field(:response) %></td>
	</tr>
	<tr>
		<th><%= f.label :phone %></th>
		<td><%= f.text_field :phone, placeholder: 'Without Dashes' %></td>
	</tr>
	<tr>
		<th><%= f.label :email %></th>
		<td><%= f.text_field(:email) %></td>
	</tr>
	<tr>
		<th><%= f.label :job_posting %></th>
		<td><%= f.text_field(:job_posting) %></td>
	</tr>
	<tr>
		<th><%= f.label :website %></th>
		<td><%= f.text_field(:website) %></td>
	</tr>
	<tr>
		<th><%= f.label :blog %></th>
		<td><%= f.text_field(:blog) %></td>
	</tr>
	<tr>
		<th><%= f.label :job_board %></th>
		<td><%= f.text_field(:job_board) %></td>
	</tr>
	<tr>
		<th><%= f.label :notes %></th>
		<td><%= f.text_area(:notes, :size => "24x6") %></td>
	</tr>
	

	<%= f.fields_for :attachments do |a|  %>
	<tr>	    
   		<th><%= a.label :name %></th>
    	<td><%= a.text_field :name %></td>
    </tr>
    <tr>
    	<th><%= a.label :file %></th>
    	<td><%= a.file_field :file %></td>
    	<td><%= a.link_to_remove "Remove this attachment"%></td>
    </tr>
    
  	<% end %>
  	<%= f.link_to_add "Add Document", :attachments %>
	</tr>
</table>
<button type="submit" class="btn btn-primary btn-large">Submit</button>
<% end %>