<h1>Jobs List</h1>

<table class="table">
	
	<tr>
		<th>Job Title</th>
		<th></th>
		<th>Company</th>
		<th>Application Date</th>		
	</tr>
	
	<% @jobs.each do |job| %>
	
	<tr>		
		<td><%= link_to "#{job.job_title}", job_url(job) %></a></td>
		<td></td>
		<td><%= link_to "#{job.company.name}", company_url(job.company)%></a></td>
		<td><%= job.application_date %></td>
		<td><%= link_to("Edit", {:action => "edit", :id => job.id})  %></td>
		<td><%= link_to("Delete", {:action => "delete", :id => job.id})  %></td>		
	</tr>
	<% end %>
</table>	

<a href="/jobs/new">Add a Job</a>