
<h2>Details</h2>

<table class="table">
	<tr>
		<th>Job Title</th>
		<td><%= @job.job_title %></td>
	</tr>
	<tr>
		<th>Company</th>
		<td><%= link_to "#{@job.company.name}", company_url(@job.company)%></a></td>
	</tr>
	<tr>
		<th>Application Date</th>
		<td><%= @job.application_date%></td>
	</tr>
	<tr>
		<th>Job Summary</th>
		<td><%= @job.job_summary%></td>
	</tr>
	<tr>
		<th>Response</th>
		<td><%= @job.response %></td>
	</tr>
	<tr>
		<th>Phone</th>
		<td><%= number_to_phone(@job.phone, :area_code => true) %></td>
	</tr>
	<tr>
		<th>email</th>
		<td><%= mail_to @job.email, (@job.email), :target => '_blank'%></td>
	</tr>
	<tr>
		<th>Job Posting</th>
		<td><%= link_to @job.job_posting, url_with_protocol(@job.job_posting), :target => '_blank'%></td>
	</tr>
	<tr>
		<th>Website</th>
		<td><%= link_to @job.website, url_with_protocol(@job.website), :target => '_blank'%></td>
	</tr>		
	<tr>
		<th>Blog</th>
		<td><%= link_to @job.blog, url_with_protocol(@job.blog), :target => '_blank'%></td>
	</tr>
	<tr>
		<th>Job Board</th>
		<td><%= link_to @job.job_board, url_with_protocol(@job.job_board), :target => '_blank'%></td>
	</tr>
	<tr>
		<th>Notes</th>
		<td><%= @job.notes %></td>
	</tr>
	
</table>
<div class="span-6">
<table class="table table-bordered">
	<% @job.attachments.each do |f| %>
	<tr class="documents"><th>Your Documents</th></tr>
	<tr>
		<th><%= f.name %></th><td><%= link_to("Download", f.file_url) %></td>
	</tr>
	<% end %>
</table>
<%= link_to "Edit Job", edit_job_url(@job) %>
</div>
	


