<a href="/jobs">Back to Jobs List</a>
<h2>Details</h2>

<table>
	<tr>
		<th>Job Title</th>
		<td><%= @job.job_title %></td>
	</tr>
	<tr>
		<th>Company</th>
		<td><a href= "http://localhost:3000/companies/<%=@job.company_id%>"><%= @job.company.name %></a></td>
	</tr>
	<tr>
		<th>Application Date</th>
		<td><%= @job.application_date%></td>
	</tr>
	<tr>
		<th>Job Summary</th>
		<td><%= @job.job_summary%></td>
	</tr>
	<tr>
		<th>Response</th>
		<td><%= @job.response %></td>
	</tr>
	<tr>
		<th>Phone</th>
		<td><%= number_to_phone(@job.phone, :area_code => true) %></td>
	</tr>
	<tr>
		<th>email</th>
		<td><a href="<%= @job.email %>">email</a></td>
	</tr>
	<tr>
		<th>Job Posting</th>
		<td><a href="<%= @job.job_posting %>">Job Posting</a></td>
	</tr>
	<tr>
		<th>Website</th>
		<td><a href="<%= @job.website %>">Website</a></td>
	</tr>		
	<tr>
		<th>Blog</th>
		<td><a href="<%= @job.blog %>">Blog</a></td>
	</tr>
	<tr>
		<th>Job Board</th>
		<td><a href="<%= @job.job_board %>">Job Board</a></td>
	</tr>
	<tr>
		<th>Notes</th>
		<td><%= @job.notes %></td>
	</tr>	
</table>
