<div class="row">
	<div class="span8 offset5">
		<div class="center">
			<div class="hero-unit">
				<h2>Sign Up</h2>

				<%=form_for @user do |f|%>

					<%= f.label :email %>
					<%= f.text_field :email %>
					<%= f.label :password %>
					<%= f.password_field :password %>
					<%= f.label :password_confirmation %>
					<%= f.password_field :password_confirmation %>
					<br>
					<button type="submit" class="btn btn-primary btn-large">Create Account</button>  Already a Member? <%= link_to "Login Here", new_session_url %>
				<%end%>
			</div>
		</div>
	</div>
</div>