<h1>Add a New Job</h1>
<%= form_for @company, :url => { :action => "create_job" } do |a| %>
<table>
	  	
    <tr>
      	<th>Company Name</th>
        <td><%= a.text_field(:name) %></td>
    </tr>
    	
    <%= fields_for :job do |f| %>
    <tr>
		<th><%= f.label :job_title %></th>
		<td><%= f.text_field(:job_title) %></td>
	</tr>
	<tr>
		<th><%= f.label :application_date %></th>
		<td><%= f.text_field(:application_date) %></td>
	</tr>
	<tr>
		<th><%= f.label :job_summary %></th>
		<td><%= f.text_area(:job_summary, :size => "40x10") %></td>
	</tr>
	<tr>
		<th><%= f.label :response %></th>
		<td><%= f.text_field(:response) %></td>
	</tr>
	<tr>
		<th><%= f.label :phone %></th>
		<td><%= f.text_field(:phone) %></td>
	</tr>
	<tr>
		<th><%= f.label :email %></th>
		<td><%= f.text_field(:email) %></td>
	</tr>
	<tr>
		<th><%= f.label :job_posting %></th>
		<td><%= f.text_field(:job_posting) %></td>
	</tr>
	<tr>
		<th><%= f.label :website %></th>
		<td><%= f.text_field(:website) %></td>
	</tr>
	<tr>
		<th><%= f.label :blog %></th>
		<td><%= f.text_field(:blog) %></td>
	</tr>
	<tr>
		<th><%= f.label :job_board %></th>
		<td><%= f.text_field(:job_board) %></td>
	</tr>
	<tr>
		<th><%= f.label :notes %></th>
		<td><%= f.text_area(:notes, :size => "24x6") %></td>
	</tr>
	<% end %>

</table>
<p><%= submit_tag('Add Job') %></p>
<% end %>