<div class="row">
	<div class="span-12">
		<div class="span-8">
			<h2>Details</h2>
			<table class="table">
				<tr>
					<th>Company</th>
					<td><%= @company.name %></td>
				</tr>
				
				<tr>
					<th>Founded</th>
					<td><%= @company.founded%></td>
				</tr>
				<tr>
					<th>Industry</th>
					<td><%= @company.industry%></td>
				</tr>
				<tr>
					<th>Phone</th>
					<td><%= number_to_phone(@company.phone, :area_code => true) %></td>
				</tr>
				<tr>
					<th>email</th>
					<td><%= mail_to @company.email, (@company.email), :target => '_blank'%></td>
				</tr>
				<tr>
					<th>Website</th>
					<td><%= link_to @company.website, url_with_protocol(@company.website), :target => '_blank'%></td>
				</tr>		
				<tr>
					<th>Blog</th>
					<td><%= link_to @company.blog, url_with_protocol(@company.blog), :target => '_blank'%></td>
				</tr>
				<tr>
					<th>Job Board</th>
					<td><%= link_to @company.job_board, url_with_protocol(@company.job_board), :target => '_blank'%></td>
				</tr>
				<tr>
					<th>Business Model</th>
					<td><%= @company.business_model %></td>
				</tr>
				<tr>
					<th>Competitors</th>
					<td><%= @company.main_competitors %></td>
				</tr>
				<tr>
					<th>Threats</th>
					<td><%= @company.threats %></td>
				</tr>
				<tr>
					<th>Opportunities</th>
					<td><%= @company.opportunities %></td>
				</tr>
				<tr>
					<th>Latest News</th>
					<td><%= @company.latest_news %></td>
				</tr>

				<ul>
			  		<% @company.attachments.each do |f| %>
			    	<li>
			    	<%= f.name %> - <%= link_to("Download", f.file_url) %>
			    	</li>
			  		<% end %>
				</ul>	
			</table>
			<%= link_to "Edit Company", edit_company_url(@company) %>
			<!-- <div class="span-4">
			<h2>Recent Twitter posts containing <%= @company.name %></h2>
			<ol>
				<#%@posts.each do |post|%>
					<li><%#=post["text"]%><br/>
					<%#=post["from_user"]%> - <%#= time_ago_in_words(post["created_at"]) %> ago</li>

				<#%end%>
			</ol>
		</div> -->
		</div>
	</div>
</div>